# SPDX-License-Identifier: MIT

[tool.ruff]
target-version = "py39"
line-length = 110
exclude = ["venv"]

[tool.ruff.lint.per-file-ignores]
"avro/__init__.py" = ["F403"]
"avro/resources/__init__.py" = ["F403"]
"avro/resources/dictionary.py" = ["F601"]
"avro/utils/processor.py" = ["E741"]
"tests/test_main.py" = ["F601"]

[tool.poetry]
name = "avro-py"
version = "2024.10.12"
description = "A modern Pythonic implementation of Avro Phonetic."
authors = ["HitBlast <hitblastlive@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "avro"}]
homepage = "https://pypi.org/project/avro-py"
repository = "https://github.com/hitblast/avro.py"
documentation = "https://hitblast.github.io/avro.py"
keywords = [
    'python',
    'phonetics',
    'avro',
    'avro phonetic',
    'bangla',
    'bengali',
    'bengali phonetics',
    'transliteration',
]
classifiers=[
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
    'Topic :: Software Development :: Libraries :: Python Modules',
]

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.group.docs.dependencies]
setuptools = ">=69,<76"
pdoc3 = ">=0.10,<0.12"

[tool.poetry.group.dev.dependencies]
pytest = "^8.0.1"
ruff = ">=0.4.2,<0.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
