# SPDX-License-Identifier: MIT

name: Nightly Builds

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Install dependencies & build
      run: 
        poetry install --sync --no-interaction --no-root
        poetry build
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        path: dist/*
        retention-days: 10
